/*
Common css rules
*/
:root {
  --white-color: #fff;
  --common-color: #e50914;
  --footer: rgb(125, 125, 125);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  background: black;
  overflow: scroll;
  color: #999;
}

.seperator {
  height: 8px;
  background: rgb(49, 49, 49);
  border: none;
  margin: 0;
}

/*
HEADER
*/

.navbar {
  display: flex;
  justify-content: space-between;

  margin: -1.5rem 2rem;
}

.navbar-btns {
  padding: 20px;
  margin-top: 1rem;
  font-size: 24px;
}

select {
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  padding: 8px 3px;
  appearance: 1;
}
select option {
  background: gray;
  border: none;
}

.logo {
  max-width: 220px;
}
.logo img {
  width: 100%;
}

.sign-in-btn {
  background: var(--common-color);
  color: var(--white-color);
  border: none;
  padding: 8px 15px;
  border-radius: 0.2em;
  width: 10ch;
  margin: 2ch;
  font-size: 16px;
  cursor: pointer;
  text-decoration: solid;
}

header {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.811),
      rgba(24, 24, 24, 0.411),
      rgba(0, 0, 0, 0.811)
    ),
    url(./images/header-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: var(--white-color);
  text-align: center;
  background-size: cover;
  box-sizing: content-box;
}

.header-title {
  font-size: 63px;
  max-width: 600px;
  margin: 160px auto 0 auto;
  font-weight: 600;
}

.header-subtitle {
  font-size: 26px;
  font-weight: 400;
  margin: 16px 0;
}

.cta-summary {
  margin: 1rem 0;
  font-size: 19.2px;
  color: white;
}

.cta-content-btn {
  background: var(--common-color);
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  position: relative;
  top: 2px;
  left: -5px;
  margin-bottom: 10rem;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}

input[type='email'] {
  padding: 20px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: none;
  width: 450px;
  outline: none;
}

/*Header END*/

/*Main Start*/

/*DESCRIPTION START*/

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 46px;
  padding: 70px 35px;
  align-items: center;
  justify-items: center;
}

.card img {
  max-width: 100%;
}

div.reversed > div.texts {
  order: 2;
}

div.texts h1 {
  font-size: 3.125rem;
  color: var(--white-color);
  margin-bottom: 8px;
}

div.texts P {
  font-size: 1.625rem;
  color: var(--white-color);
}

.media {
  position: relative;
}

.media.s1 img {
  width: 400px;
}

.media.s1 video {
  width: 293px;
  position: absolute;
  top: 62px;
  left: 52px;
  z-index: -1;
}

/*second card*/
.card div.download-card {
  border: 2px solid #666;
  border-radius: 15px;
  padding: 15px;
  height: 95px;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  text-align: center;
  align-items: center;
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -155px;
  color: var(--white-color);
  font-size: 16px;
  gap: 15px;
  width: 280px;
  background-color: #000;
}

.card div.download-card img.card2-cover {
  height: 75px;
  width: auto;
}

/*third card*/

.media.s2 img {
  width: 450px;
}

.media.s2 video {
  width: 272px;
  position: absolute;
  top: 33px;
  left: 88px;
  z-index: -1;
}

/*DESCRIPTION END*/

/*Faq Section*/

.faq-title {
  color: var(--white-color);
  font-size: 48px;
  width: 200;
  line-height: 100px;
}

.faq-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem auto;
}

.faq-section input {
  display: none;
}
.faq-section label {
  display: block;
  padding: 20px 30px;
  margin: 0 0 8px 0;
  width: 50%;
  cursor: pointer;
  background: #303030;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 400;
  font-size: 26px;
}

.faq-section label ion-icon {
  display: inline-block;
  color: #fff;
  font-size: 36px;
}

.faq-section label .close-out {
  display: none;
}

.answer {
  background: #303030;
  color: #fff;
  width: 50%;
  padding: 4px 30px;
  margin: -7.5px 0 8px 0;
  font-weight: 400;
  font-size: 26px;
}

.question-input + label + .answer {
  display: none;
}

.question-input:checked + label + .answer {
  display: block;
}

.question-input:checked + label ion-icon {
  transform: rotate(45deg);
  transition: 100ms;
}

.faq-cta {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: -6rem;
}
/*Faq Section End*/
/*Main End*/

/*
Footer 
*/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_container {
  margin: 3rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.footer_content {
  text-decoration: none;
  color: var(--footer);
  font-size: 1em;
}

.footer_content a {
  text-decoration: none;
  color: var(--footer);
}

.footer_content a:hover {
  text-decoration: underline;
}

.footer_navbar {
  font-size: 14px;
  margin: 2rem 0 2.5rem 0;
  display: grid;
  grid-column-gap: 4rem;
  grid-row-gap: 0.8rem;
  grid-template-columns: auto auto auto auto;
}

.netflix_albania {
  font-size: 14px;
}

/*Footer END*/

/*Responsive rules*/

@media screen and (max-width: 1450px) {
  .header-title {
    font-size: 53px;
  }
  .logo {
    max-width: 180px;
  }
  .navbar {
    align-items: center;
  }
  /*Header END*/

  /*Description start*/

  .card .texts h1 {
    font-size: 2rem;
  }

  .card .texts p {
    font-size: 1.2rem;
  }

  .media.s1 img {
    width: 300px;
  }

  .media.s1 video {
    width: 230px;
    position: absolute;
    top: 42px;
    left: 40px;
    z-index: -1;
  }

  .card div.download-card {
    padding: 15px;
    height: 68px;
    bottom: 25px;
    width: 280px;
    align-content: center;
    background-color: #000;
  }

  .card div.download-card img.card2-cover {
    height: 65px;
    width: auto;
  }

  .media.s2 img {
    width: 300px;
  }

  .media.s2 video {
    width: 180px;
    position: absolute;
    top: 32px;
    left: 60px;
    z-index: -1;
  }

  .download-gif {
    height: auto;
    width: 75px;
  }

  /*Description end*/

  /*Footer*/

  .footer_navbar {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0.8rem;
    margin: 1.5rem 0 2rem 0;
  }

  .footer_container {
    width: 70%;
  }
}

@media screen and (max-width: 940px) {
  .cta-summary {
    font-size: 26px;
    width: 60%;
    margin: 1rem auto;
  }
  .header-title {
    line-height: 4rem;
    margin: 120px auto 0 auto;
  }
  input[type='email'] {
    display: block;
    margin: 1rem auto;
    border-radius: 2px;
  }
  .cta-content-btn {
    font-size: 16px;
    border-radius: 2px;
    padding: 0.8rem 1rem;
  }
  .logo {
    max-width: 140px;
  }
  /*Header END*/
  /*FAQ Section*/

  .faq-title {
    font-size: 42px;
  }

  /*FAQ Section END*/
  /*Footer*/
  .footer_navbar {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0.8rem;
    margin: 1.5rem 0 2rem 0;
  }

  .footer_container {
    width: 80%;
  }
}

@media screen and (max-width: 740px) {
  .cta-summary {
    font-size: 19px;
  }
  .header-title {
    line-height: 3.5rem;
    margin: 120px 2.5rem 0 2.5rem;
  }
  input[type='email'] {
    max-width: 65%;
  }
  /*Header END*/

  /*Description start*/

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card div.texts h1 {
    font-size: 2.5rem;
    color: var(--white-color);
    margin-bottom: 8px;
  }

  div.texts P {
    font-size: 1.4rem;
    color: var(--white-color);
    margin-bottom: -3rem;
  }

  div.reversed > div.texts {
    order: 0;
  }

  .media.s1 img {
    width: 500px;
  }

  .media.s1 video {
    width: 360px;
    position: absolute;
    top: 78px;
    left: 70px;
    z-index: -1;
  }

  .media.s2 img {
    width: 500px;
  }

  .media.s2 video {
    width: 300px;
    position: absolute;
    top: 58px;
    left: 90px;
    z-index: -1;
  }

  /*Description end*/

  /*Faq Section*/

  .faq-title {
    font-size: 24px;
  }

  .faq-section label {
    font-size: 16px;
    width: 75%;
  }

  .faq-section label ion-icon {
    height: 18px;
    width: 18px;
  }

  .answer {
    font-size: 16px;
    width: 75%;
  }

  .question-input:checked + label + .answer {
    display: block;
    margin-top: -6.5px;
  }

  /*Faq End*/
  /*Footer*/
  .footer_navbar {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    margin: 2rem 0;
  }

  .footer_container {
    width: 88%;
    margin: 5rem 0 1rem 2rem;
  }
}

@media screen and (max-width: 560px) {
  .header-title {
    font-size: 40px;
    margin: 2rem 0.5rem 0 0.5rem;
  }

  .navbar {
    justify-content: space-around;
    margin: 0;
  }
  .header-subtitle {
    font-size: 22px;
    font-weight: 600;
    margin: 8px 0;
  }
  select {
    height: 40px;
    margin-top: 1rem;
  }
  .navbar-btns {
    padding: 0;
    align-self: start;
  }
  .sign-in-btn {
    margin: 0;
  }
  /*Header END*/

  /*Description start*/

  .card div.texts h1 {
    font-size: 2.2rem;
  }

  div.texts P {
    font-size: 1.2rem;
  }

  .media.s1 img {
    width: 400px;
  }

  .media.s1 video {
    width: 293px;
    position: absolute;
    top: 63px;
    left: 53px;
    z-index: -1;
  }

  .media.s2 img {
    width: 400px;
  }

  .media.s2 video {
    width: 250px;
    position: absolute;
    top: 45px;
    left: 70px;
    z-index: -1;
  }

  /*Description start*/

  /*Footer*/

  .footer_navbar {
    grid-template-columns: 145px 145px;
    grid-column-gap: 2rem;
    margin: 2rem 0 2rem 0;
  }

  .footer_container {
    width: 80%;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
